.body {
  background-color: white;
}
.loginBody
{
	margin: 0;
	padding: 0;
	background: url(loginbackground.jpg);
	background-size: cover;
	font-family: sans-serif;
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
.login.h2{
	margin: 0;
	padding: 0 0 20px;
	color: skyblue;
	text-align: center;
}


.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:aliceblue;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: aliceblue;
	font-size: 16px;
	background: lightblue;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #42c5f4;
	color: #262626;
}
.loginBox a
{
	color: aliceblue;;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}



.registerBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 450px;
	padding: 60px 40px;
	background: rgba(0,0,0,.5);
}
.registerBox h2{
    margin-top: -25px
}
.registerBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:aliceblue;
}
.registerBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.registerBox input[type="text"],
.registerBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.registerBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: aliceblue;
	font-size: 16px;
	background: lightblue;
	cursor: pointer;
	border-radius: 20px;
}
.registerBox input[type="submit"]:hover
{
	background: #42c5f4;
	color: #262626;
}
.registerBox a
{
	color: aliceblue;;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
#MainColour {
  background-color: #1481b7;
}

.topbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkgray;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:slategray;
}

#backgroundImage {
  margin: 20px auto;
  position: relative;
  padding: 10px;
  max-width: 1350px;
}

#backgroundImage > div {
  position: absolute;
}

.searchContainer {
  position: relative;
    text-align: center;
    color: black;
}

.search {
  margin-top: 25%;
  position: absolute;
    top: 50%;
    left: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

form.searchBox input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid black;
  float: left;
  width: 80%;
  background: white;
}

form.searchBox button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #1481b7;
  color: white;
  font-size: 17px;
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
}

form.searchBox button:hover {
  background: #0b7dda;
}

form.searchBox::after {
  content: "";
  clear: both;
  display: table;
}

::placeholder {
  color: slategrey;
}

#eop {
  width: 100%;
  background-color: darkgrey;
  margin-top: 55%;
  color: black;
}

.page {
	width:1200px;
	margin:auto;
}

.result {
  display: inline-block;
  margin:0 auto;
  width:880px;
  height:auto;
  background:skyblue;
  margin-top:8px;
  margin-bottom:8px;
  padding:5px;
  text-align:left;
}

#filters {
	float:left;
	border-style:solid;
	border-radius:4px;
	border-width:1px;
	border-color:darkgrey;
	background-color:white;
	height:690px;
	width:275px;
	padding:1px;
  font-weight:bold;
}

#searchResults {
  float:right;
  border-style:solid;
  border-radius:8px;
  border-width:1px;
  border-color:darkgrey;
  background-color:white;
  height:auto;
  width:900px;
  position:relative;
  overflow:hidden;
  padding:5px;
}

#searchContainer {
	margin-top:10px;
  text-align:center;
}

.leftResult {
  float:left;
}

.rightResult {
  float:right;
}
